[project]
name = "gherkin-expansion"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "behave>=1.3.3",
    "pytest>=9.0.2",
]
